@{
    ViewData["Title"] = "Wyszukiwanie po numerze NIP";
}

<div class="text-center">
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }
    <div class="container mt-3">       
        <div class="mt-4 p-5 bg-light text-black rounded">
            <h1>Pobierz dane podmiotu</h1>           
            <p>Aplikacja umożliwia pobranie danych kontrahenta z ogólnej bazy danych na podstawie numeru NIP</p>           
            <form asp-controller="Home" asp-action="Search" method="post">               
                <div class="form-group">
                    <input type="text" onkeypress='validate(event)' id="nip" name="nip" class="form-control center-block" placeholder="Wprowadź nip" required />
                </div>
                <br/>
                <button type="submit" class="btn btn-lg btn-outline-dark">Szukaj</button>
            </form>
        </div>
    </div>

   
</div>